services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pokemon-app
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - MONGO_URL=mongodb://root:example@mongo:27017
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - mongo
    command: pnpm dev

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
